<!DOCTYPE html>
<html>
	<h1>Посты</h1>

	<% @posts.each do |post| %>
		<div class="card mb-4">
		  <div class="card-body">
				<h2 class="card-title"><%= link_to post.title, post_path(post) %></h2>
		    <p class="card-text"><%= post.body %></p>
		  </div>

			<div class="card-footer">
				<%= post.created_at.to_date.strftime("%d %B, %Y") %>
			</div>
		</div>
	<% end %>

	<nav aria-label="Page navigation example">
  	<ul class="pagination">
  	  <li class="page-item">
				<%= link_to "Вперед", posts_path(page: @page + 1), class: "page-link" %>
			</li>

			<% @page_qty.times do |i| %>
				<li class="<%= (i == @page) ? "page-item active" : "page-item" %>">
					<%= link_to "#{i+1}", posts_path(page: i), class: "page-link" %>
				</li>
			<% end %>

  	  <li class="page-item">
				<%= link_to "Назад", posts_path(page: @page - 1), class: "page-link" %>
			</li>
  	</ul>
	</nav>
</html>
