<!DOCTYPE html>
<html>
	<div class="d-flex">
		<h1>Посты</h1>

		<% if current_user.present? && current_user.posts.size > 0 %>
			<span class="btn-group m-2" role="group" aria-label="Basic example">
				<%= link_to "Все", posts_path, class: "btn btn-primary" %>
				<%= link_to "Мои", posts_path(:user_id => current_user), class: "btn btn-primary" %>
			</span>
		<% end %>
	</div>
	

	<% @posts.each do |post| %>
		<div class="card mb-4">
		  <div class="card-body">
				<h2 class="card-title"><%= link_to post.title, post_path(post) %></h2>
		    <p class="card-text"><%= post.body %></p>
		  </div>

			<div class="card-footer">
				<%= post.created_at.to_date.strftime("%d %B, %Y") %>
			</div>
		</div>
	<% end %>

	<%= paginate @posts %>
</html>
