<!DOCTYPE html>
<html>
	<div class="d-flex">
		<h1>Посты</h1>

		<% if current_user.present? && current_user.posts.size > 0 %>
			<span class="btn-group m-2" role="group" aria-label="Basic example">
				<%= link_to "Все", posts_path, class: "btn btn-primary" %>
				<%= link_to "Мои", user_posts_path, class: "btn btn-primary" %>
			</span>
		<% end %>
	</div>
	

	<% @posts.each do |post| %>
		<div class="card mb-4">
		  <div class="card-body">
				<h2 class="card-title"><%= link_to post.title, post_path(post) %></h2>
		    <p class="card-text"><%= post.body %></p>
		  </div>

			<div class="card-footer">
				<%= post.created_at.to_date.strftime("%d %B, %Y") %>
			</div>
		</div>
	<% end %>

	<% if @pages_count > 1 %>
		<nav aria-label="Page navigation example">
  		<ul class="pagination">
				<% if @page > 1 %>
  		  	<li class="page-item">
						<%= link_to "Назад", current_page?(user_posts_path) ? user_posts_path(page: @page - 1) : posts_path(page: @page - 1), class: "page-link" %>
					</li>
				<% end %>

				<% @pages_count.times do |i| %>
					<li class="<%= (i+1 == @page) ? "page-item active" : "page-item" %>">
						<%= link_to "#{i+1}", current_page?(user_posts_path) ? user_posts_path(page: i+1) : posts_path(page: i+1), class: "page-link" %>
					</li>
				<% end %>

				<% if @page < @pages_count %>
  		  	<li class="page-item">
						<%= link_to "Вперед", current_page?(user_posts_path) ? user_posts_path(page: @page + 1) : posts_path(page: @page + 1), class: "page-link" %>
					</li>
				<% end %>
  		</ul>
		</nav>
	<% end %>
</html>
