<!DOCTYPE html>
<html>
  <head>
    <title>Rails_test_blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Создать новый пост', new_post_path %>
    <%= link_to 'Главная', posts_path %>
    <%= yield %>
  </body>
</html>
